html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#verde
{
    width: 200px;
    height: 50px;
    background-color: olive;
}

#rojo {
    width: 200px;
    height: 50px;
    background-color: red;
}
.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.validoVerde {
    font-size: 2em; /* Ajusta el tamaño de la letra */
    font-family: Arial, sans-serif;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease-in-out;
    text-shadow: 0 0 2px green;
}
.validoRojo {
    font-size: 2em; /* Ajusta el tamaño de la letra */
    font-family: Arial, sans-serif;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease-in-out;
    text-shadow: 0 0 2px red;
}
